
.cart-item-container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    .cart-image-container{
        margin-right: 100px;
        .cart-image{
            height: 150px;
            margin-left: 10px;
        }
    }
    .cart-info{
        margin-right: 100px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;

    }
    .cart-buttons{
        display: flex;
        flex-direction: column;
        align-self: center;
    }

}
hr{
    width: 50%;
}

.cart-message{
    display: flex;
    flex-direction: column;
    text-align: center;
    button{
        display: flex;
        align-self: center;
    }

}
.cart-total{
    display: flex;
    justify-content: center;

}
