.cart-table{
    width: 100%;
}
.cart-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cart-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}