
.carrito{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 10px;
    
    .icon{
        background-color: white;
        height: 2rem;
        width: 2rem;
        mask: url(..//..//img/cart-plus-solid.svg) no-repeat center center;
        -webkit-mask: url(..//..//img/cart-plus-solid.svg) no-repeat center center;
    }
    .total-items{
        text-decoration: none;
        color: white;
        position: absolute;
        margin: 27px;

    }
}