.navbar{
    background-color:rgba(144, 0, 31, 0.626) ;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;

    .navbar-logo{
        position: relative;
        align-self: center;
        img{
            height: 10em;
        }
    }
    .navbar-menu{
        grid-column: 2/4;
        grid-row: 1/2;
        align-self: center;
        margin-bottom: 2em;
        color: white;
        font-weight: bolder;
        a{
            color: white;
            :hover{
                border-bottom: 1px solid white;
                color: white;
                font-weight:bolder;
            }
        }
        li{
            display: inline-block;
            margin-right: 10%;
            text-transform: uppercase ;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
        }
        .navbar-menu-items:hover{
            border-bottom: 1px solid white;
            color: white;
            font-weight:bolder;
            .navbar-drowdown{
                display: block;
            }

        }
        .navbar-drowdown{
            position: absolute;
            background-color: black;
            color: white;
            margin-top: 1px;
            display: none;
            text-align: center;
            .navbar-dropdown-items:hover{
                border-bottom: 1px solid white;
                width: 100%;
                color: white;
            }
        }
        .navbar-dropdown-items{
            display: block;
            margin-left: -30px;
            padding: 10px;
        }
    }

}
