
.spinner{
    background-image: url(..//..//img/wine-glass-alt-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    margin-top: 20px;

}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

.spinner-text{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;

}
