.container-itemList{
    margin-left: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}


.itemList-container{
    border: 1px solid black;
    margin: 5px;

    .itemList-img{
        display: flex;
        justify-content: center;
    }
    .itemList-titulo{
        text-align: center;
        overflow: hidden;
        font-weight: bolder;
        font-family: 'Montserrat', sans-serif;
    }
    .itemList-price{
        display: flex;
        justify-content: center;
    }
}
.itemList-container:hover{
    border: 3px solid black;
    transform: scale(0.95,0.95);
}
